@import '../../style/colors.scss';
@import '../../style/buttons.scss';

.Banner {
  height: calc(100vh - 90px);
  padding: 25px 80px 25px 105px;
  display: flex;
  align-items: center;

  .Banner-info {
    width: 50%;
    height: 60%;
    .Banner-title {
      font-family: 'CAT Linz', sans-serif;
      color: $text-color;
      font-weight: 400;
      font-size: 75px;
      line-height: 71px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .Banner-text {
      color: $text-color;
      margin-bottom: 27px;
      font-size: 12px;
      line-height: 26px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    .Banner-button {
      @include button;
      width: 280px;
      height: 52px;
      padding: 16px 82px;

      &:hover{
        @include hovered-button;
      }
    }
  }

  .Banner-image {
    width: 50%;
    height: 80%;
    background: url('../../images/Macbook_Mockup.png') no-repeat;
    background-size: contain;

    div {
      width: 50%;
      height: 100%;
      background: url('../../images/Img.png') no-repeat;
      background-size: contain;
      margin-top: -90px;
      margin-left: 40px;
    }
  }
}

.AllImages {
  padding: 54px 105px;
  width: 100%;

  .AllImages-title {
    color: $text-color;
    font-family: 'CAT Linz', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 28px;
  }
  .AllImages-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    .AllImages-grid-item{
      height: 234px;
      border-radius: 15px;
    }
  }
}