$background-color: #161616;
$text-color: #f9f4f1;
$secondary-text-color: #2b2b2d;
$main-color: #ff9110;
$light-color: #e5e0dd;
$error-color: #f14b53;
$input-color: #242424;
$border: 0.75px solid #3D3D3D;
