@import '../../style/colors.scss';
@import '../../style/buttons.scss';

.LogIn-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  .LogIn-form {
    text-align: left;
    width: fit-content;
    max-width: 600px;

    .LogIn-form-title {
      font-family: 'CAT Linz', sans-serif;
      color: $text-color;
      font-weight: 400;
      font-size: 30px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    .LogIn-form-inputs {
      position: relative;
      input {
        width: 600px;
        height: 44px;
        background: $input-color;
        border: $border;
        border-radius: 75px;
        font-family: 'Mulish-Regular', sans-serif;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #7F7F7F;
        margin: 14px 0;
        padding: 12.5px 20px;
      }

      .LogIn-form-submit {
        @include button;
        text-align: center;
        text-transform: capitalize;
        width: 160px;
        height: 40px;
        padding: 10px 45px;
        margin-top: 53.5px;
        border-radius: 75px;

        &:hover {
          @include hovered-button;
        }
      }

      .LogIn-form-error {
        position: absolute;
        left: 20px;
        font-family: 'Mulish';
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: $error-color;
      }
    }
  } 
}